[submodule "rpi_ws281x"]
	path = rpi_ws281x
	url = https://github.com/jgarff/rpi_ws281x
[submodule "rpi-ws281x-python"]
	path = rpi-ws281x-python
	url = https://github.com/rpi-ws281x/rpi-ws281x-python.git
